nav {
  display: flex;
  justify-content: flex-end; /* Align items to the end of the flex container */
  padding:10px;
  background-color:cornsilk;
}

.flow-builder, .node-panel {
  height: 100%;
}

.col-md-3 {
  border: 1px solid;
  padding: 0;
}

.dndnode {
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  padding: 12px;
  width: 100px;
  cursor: grab;
  margin: 10px;
}

.title {
  text-align: center;
  display: inline-block;
  margin: 0;
}
.subTitle {
  margin: 0;
  padding: 5px;
}
input {
  margin: 5px;
}
.back {
  border: 0;
  background-color: white;
}

.col-md-2 {
  padding: 0;
}

.col-md-10 {
  padding: 5px 0;
  text-align: center;
}

.row {
  border-bottom: 1px solid;
}