.text-updater-node {
    width: 150px;
    border: 1px solid #eee;
    background: white;
    font-size: 8px;
}
.text-updater-node .value {
    padding: 5px 0;
    text-align: center;
}
.text-updater-node .title {
    color: white;
    padding: 0 5px;
    margin: 0;
    background-color: teal;
    width: 100%;
}

